/*navigation*/
body {
    font-family: Arial, sans-serif;
}

nav {
    display: flex;
    justify-content: center;
}

nav > div {
    margin: 20px 10px;
}

nav > div > a {
    font-weight: 600;
    color: #222222;
    font-size: 20px;
    text-decoration: none;
}

/*forms*/
#login,
#register,
#add-pixel {
    margin: 100px auto;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

#login > label,
#register > label {
    color: #5a5a5a;
    font-weight: 600;
    font-size: 1.2rem;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
}

#login input,
#login button,
#register input,
#register button,
#add-pixel input,
#add-pixel button,
#add-pixel select {
    outline: none;
    font-size: 1.2rem;
    box-sizing: border-box;
    padding: 15px 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

#login input,
#register input,
#add-pixel input,
#add-pixel select {
    color: #222222;
    background: #eaeaea;
}

#login button,
#register button,
#add-pixel button {
    margin-top: 25px;
    padding: 17px 10px;
    background: #4556B7;
    color: #eaeaea;
}

label {
    font-size: 18px;
    color: #222222;
    margin: 15px 0 5px;
    display: flex;
    flex-direction: column;
}

#add-pixel input[type=range] {
    padding: 10px 0;
    margin: 0;
}

/*Wall and pixels*/
.wall {
    position: relative;
    margin: 100px auto;
    width: 500px;
    height: 500px;
    background-color: #888888;
}

.pixel {
    position: absolute;
    display: block;
}