.team {
  margin: 1rem 0 2rem;
}

.team__name{
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.team__coach{
  font-size: 1.25rem;
  color: #444;
  font-weight: 500;
  float: right;
  margin-top: 0.5rem;
}

.players-table__title{
  margin: 1.25rem 0;
  font-weight: 500;
  font-size: 1.25rem;
}

.players-table__row{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.players-table__row> *{
  padding: 1rem;
}

.players-table__row--header{
  border-bottom: 2px solid #444;
  font-weight: 500;
}

.players-table__body > .players-table__row:nth-of-type(2n):not(.players-table__row--header){
  background: #fbfbfb;
}

.players {
  padding: 20px;
}